<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front Tools Settings</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/proxy-model.js"></script>
    <script src="js/proxy-setting.js"></script>

    <style type="text/css">
        pre{
            padding: 0;
            margin: 0;
            border: none;
            background: none;
            max-height: 300px;
        }
        .form-tip{
            height: 34px;
            line-height: 34px;
            font-size: 12px;
            color:#999;
        }

    </style>

</head>
<body>
    <div class="setting-container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand">Frontend Tools</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="options-proxy.html">代理</a>
                </li>
            </ul>
        </nav>

        <div class="setting-add-proxy">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#setting_dialog" 
                data-title="添加代理" data-type="proxy">添加代理</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="40">#</th>
                        <th width="200">名称</th>
                        <th>类型</th>
                        <th>服务器</th>
                        <th>端口</th>
                        <th width="100"></th>
                    </tr>
                </thead>
                <tbody class="proxy-list">
                    <tr>
                        <td>0</td>
                        <td>示例</td>
                        <td>HTTP</td>
                        <td>127.0.0.1</td>
                        <td>8080</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="setting-add-rule">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#setting_dialog"
                data-title="添加新规则" data-type="rule">添加代理转发规则</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="40">#</th>
                        <th width="200">名称</th>
                        <th width="200">代理</th>
                        <th>匹配规则</th>
                        <th width="100"></th>
                    </tr>
                </thead>
                <tbody class="rule-list">
                    <tr>
                        <td>0</td>
                        <td>校友汇开发</td>
                        <td>翻墙代理</td>
                        <td>*://google.com/*</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="setting_dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>

        <script id="proxy_setting_view" type="text/template">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%=title%></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-proxy" role="form" action="#">
                    <input type="hidden" name="proxyId" required value="<%=data.id%>"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="proxyName" placeholder="名称" required value="<%=data.name%>" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">代理类型</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                              <input type="radio" name="proxyType" value="PROXY" <%=_.indexOf(['SOCKS', 'SOCKS5'], data.type)===-1?'checked':''%>> HTTP</label>
                            <label class="radio-inline">
                              <input type="radio" name="proxyType" value="SOCKS" <%=data.type=='SOCKS'?'checked':''%>>SOCKS4</label>
                            <label class="radio-inline">
                              <input type="radio" name="proxyType" value="SOCKS5" <%=data.type=='SOCKS5'?'checked':''%>>SOCKS5</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">服务器</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="proxyHost" placeholder="服务器" required value="<%=data.host%>" /></div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="proxyPort" placeholder="端口" required value="<%=data.port%>" /></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-save-proxy">确定</button>
            </div>
        </script>
        <script id="rule_setting_view" type="text/template">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%=title%></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-rule" role="form">
                    <input type="hidden" name="ruleId" required value="<%=data.id%>"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">规则名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="ruleName" class="form-control" placeholder="规则名称，帮助识别规则，如“翻墙列表”" required value="<%=data.name%>" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">匹配规则</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="ruleContent" rows="3" placeholder="URL匹配规则，支持通配符“*”；支持多条，每行一条。"><%=data.content%></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">使用代理</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="ruleProxy" required>
                            <% _.each(data.proxies, function(p){ %>
                                <option value="<%=p.id%>" <%=p.id==data.proxy?'selected':''%>><%=p.name%></option>
                            <% }) %>
                            </select>
                        </div>
                        <div class="col-sm-6"><div class="form-tip">匹配到上面规则的URL，都将使用此代理转发</div></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-save-rule">确定</button>
            </div>
        </script>
    </div>
</body>
</html>